// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h2 {
  font-weight: 800;
}

.list-inline {
  margin : 10px;
}

.list-inline-item {
background-color: #3086DD;
padding: 0 auto;
color: white;
font-size: 30px;
}

